NET GPIO_COMPSW<0> LOC="AJ6";
NET GPIO_COMPSW<0> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<1> LOC="AK7";
NET GPIO_COMPSW<1> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<2> LOC="U8";
NET GPIO_COMPSW<2> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<3> LOC="V8";
NET GPIO_COMPSW<3> IOSTANDARD="LVCMOS33";
NET GPIO_COMPSW<4> LOC="AJ7";
NET GPIO_COMPSW<4> IOSTANDARD="LVCMOS33";

NET GPIO_LED<0> LOC="H18";
NET GPIO_LED<0> IOSTANDARD="LVCMOS25";
NET GPIO_LED<1> LOC="L18";
NET GPIO_LED<1> IOSTANDARD="LVCMOS25";

########################################
#VGA
########################################
NET  VGA_IN_DATA_CLK        LOC="AH18";
NET VGA* IOSTANDARD = LVCMOS33;

NET IIC_SCL_VIDEO           LOC="U27";
NET IIC_SCL_VIDEO           IOSTANDARD="LVCMOS18";
NET IIC_SDA_VIDEO           LOC="T29";
NET IIC_SDA_VIDEO           IOSTANDARD="LVCMOS18";


NET  "USER_CLK"             LOC="AH15";
NET  "USER_CLK"             IOSTANDARD=LVCMOS33;
NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10.0 ns HIGH 50%;
